<div class="body">
    <input type="checkbox" id="show">
    <label for="show" class="show-btn">COMPLAINTS TAKEN<br>" HERE "</label>

    <div class="container">
        <label for="show" class="close-btn" title="close">×</label>
        <h1>Welcome</h1>
        <form action="#">
            <label>USER NAME</label>
            <input type="text">
            <label>USER EMAIL</label>
            <input type="email">
            <label>PRODUCT PURCHASED</label>
            <input type="text">
            <label>ISSUE FACED</label>
            <input type="text">
            <label>DATE OF PURCHASE</label>
            <input type="date">
            <label>COST OF ITEM</label>
            <input type="number">
            <label>INVOICE</label>
            <input type="file">
            <button>Submit</button>
